:root {
    --left-factor: 3vh;
}

html, body {
    background-color: #1f1f26;
    overflow: hidden;
    height: 100%;
    margin: 0;
}

.circle {
    position: absolute;
    border-radius: 50%;
}

.circle-one {
    width: 52.2vh;
    height: 52.2vh;
    background: linear-gradient(135deg, #b89af4 35%,  #1e9cd8, #005b97);
    top: -15.66vh;
    left: calc(var(--left-factor) + 17.13vh);
}

.greek-statue-one {
    width: 31.9vh;
    position: absolute;
    left: calc(var(--left-factor) + 27.28vh);
    top: 14.8vh;
}

.drop-shadow {
    filter: drop-shadow(5px 5px 25px rgba(0, 0, 0, 0.7));
}


.circle-two {
    width: 76.52vh;
    height: 76.52vh;
    background: linear-gradient(90deg, #2e3192 35%,  #29abe2);
    top: 67vh;
    left: calc(var(--left-factor) - 18.66vh);
}

.dots {
    letter-spacing: 15px;
    line-height: 25px;
    color: white;
    font-weight: bold;
    position: absolute;
}

.dots-one {
    top: 19.85vh;        
    left: calc(var(--left-factor) + 7.44vh);
}

.circle-three {
    width: 47.29vh;
    height: 47.29vh;
    background: linear-gradient(-140deg, #93278f 35%,  #0000ff);
    left: 1380px;
    top: -180px;
}

.dots-two {
    top: 150px;
    left: 1000px;
}

.circle-four {
    width: 573px;
    height: 573px;
    background: linear-gradient(90deg, #ff00ff,  #fbb03b 65%);
    top: 67vh;
    left: 1500px;
}

.dots-three {
    top: 89vh;
    left: 1400px;
}

.circle-five {
    width: 320px;
    height: 320px;
    background: linear-gradient(90deg, #991498, #29abe2 75%);
    top: 40vh;
    left: 50vw;
}